<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head}"></head>
<body>


<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container my-5 p-5" style="border:1px solid black;">
    <h4 class="text-center">Add New Book</h4>

    <div
            class="col-12" th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}">
    </div>

    <form class="col-md-4 offset-md-4" enctype="multipart/form-data"
          th:action="@{/books/add}"
          th:method="post"
          th:object="${addBookDTO}">
        <div class="mb-3">
            <label for="name" class="form-label">Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="name" id="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">Author<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="author" id="author"
                   th:field="*{author}"
                   th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}">
                <span th:each="err : ${#fields.errors('author')}" th:text="${err}"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="price" id="price" step="0.01" min="0"
                   th:field="*{price}"
                   th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                <span th:each="err : ${#fields.errors('price')}" th:text="${err}"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Image<span class="text-danger">*</span></label>
            <input class="form-control" type="file" name="imageFileName" id="imageFileName"
                   th:field="*{imageFileName}"
                   th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('imageFileName')}">
                <span th:each="err : ${#fields.errors('imageFileName')}" th:text="${err}"></span>
            </div>
        </div>


        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary col-5 me-3">Submit</button>
            <a class="btn btn-outline-primary card-link col-5" href="/books/all">Cancel</a>
        </div>

    </form>

</div>


</body>
</html>