<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Book Store</title>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>


<div class="container text-center my-5">
    <h1 class="mb-5">WELCOME TO THE WONDERFUL WORD OF BOOKS</h1>
    <h6>Welcome to [The Wonderful World of Books], your online destination for literary exploration and discovery!
        Step into our virtual realm and immerse yourself in the enchanting world of literature.
    </h6>
    <h6>Browse through our extensive collection of books, carefully curated to cater to every taste and interest.
        Whether you're a fan of gripping mysteries, heartwarming romances, mind-bending science fiction,
        or thought-provoking non-fiction, we have something special waiting just for you.
    </h6>
    <h6>Discover bestsellers, hidden gems, and everything in between as you journey through the pages of our digital shelves.
        With convenient search and filter options, finding your next favorite read has never been easier.
    </h6>
    <h6>But [The Wonderful World of Books] is more than just an online bookstore;
        it's a vibrant community of book enthusiasts united by a love for storytelling.
        Join us for virtual book club meetings, author Q&A sessions, and other exciting events where
        you can connect with fellow readers and share your passion for literature.
    </h6>
    <h6>Our team of dedicated bookworms is here to assist you every step of the way.
        Whether you need personalized recommendations or assistance with placing an order,
        we're committed to ensuring your online shopping experience is seamless and enjoyable.
    </h6>
    <h6>So, what are you waiting for? Dive into the wonderful
        world of books and let your imagination soar.
        Your next literary adventure awaits!
    </h6>
    <h6>
        Start exploring now at The Wonderful World of Books.
    </h6>
    <h6>
        Happy reading!
    </h6>

    <img alt="" src="/images/bg.png" width="560px"/>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>
</html>